.containerBoards {
  padding: 20px;
}

.containerBoards h2 {
  color: var(--color-primary);
  margin-bottom: 20px;
}

.containerBoards .boards{
  display: flex;
  flex-wrap: wrap;
}

.containerNewBoard {
  min-width: 427.66px;
  min-height: 170.81px;
}

.containerNewBoard  h3{
  margin-bottom: 20px;
}

.containerNewBoard .controllInput{
  margin-bottom: 20px;
}

.containerNewBoard .buttonSubmit {
  display: flex;
  justify-content: center;
}