.card {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #b3b3b3;
}

.card p:first-child{
  color: #05075f;
  margin-bottom: 6.5px;
}

.card p:last-child{
  font-size: 13.1px;
}

.cardDragging{
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  cursor: grabbing;
}

.cardDragging p {
  opacity: 0;
}

.modalContent {
  width: 380px;
}

.modalContent h3 {
  text-align: center;
}

.modalContent .description {
  padding: 10px 0;
}

.modalContent .buttonDeleteTaskContainer {
  display: flex;
  justify-content: flex-end;
}

.deleteTaskContent p {
  padding: 10px 0;
}

.deleteTaskContent .buttonsDeleteTask {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.tags {
  padding: 10px 0;
}

.tags p {
  display: inline;
  font-size: 12.5px;
  background: #f50057;
  padding: 4px;
  border-radius: 5.6px;
  color: #fff;
  margin-right: 8.5px;
}

.containerTags .newTag {
  text-align: center;
  padding: 10px;
}

.containerTags .newTag .buttonSubmit{
  margin-top: 10px;
}


@media screen and (max-width: 360px) {
  .modalContent {
    width: 100%;
  }
}