header.mainHeader {
  background: var(--color-second);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

@media screen and (max-width: 360px){
  header.mainHeader {
    flex-direction: column;
  }
}